{% extends "partials/base.html" %}
{%load static%}
{%block title%} password_reset {%endblock title%}
 
<br>
<br>
<br>
<br>
{% block main-content %}
        <small class="fs-5"></small>
<div class="contain shadow p-5">
    <div class="row my-3">
    <div class="col-sm-6 offset-sm-3">
        <h3 >Reset Password  Complete!!</h3>
        <hr>
    
<div>
    <iframe src="https://giphy.com/embed/ibo1Le3mOqHE3PQTtk" width="200" height="200" frameBorder="0" class="giphy-embed"
            allowfullscreen></iframe>
</div>
    </div>
    </div>
</div>

{%endblock main-content%}