{% extends "partials/base.html" %}
{%load static%}
{%block title%} Change password Done{%endblock title%}
{% block main-content %}
<div class="container my-5">
    <div class="row ">
    <br><br><br>
        <h3 class="head ">Hello !  <span class="text-capitalize">{{ request.user }}</span></h3>
<br><br>
    <div class="col-sm-2 border-end">
         <ul class="list-unstyled">
             <li class="d-grid"> <a href="#" class="btn btn-success">Change password Done</a> </li>
         </ul>
        <hr>
        <hr>
    </div>
    <div class="col-sm-8 offset-sm-1">
        <h3>Password Changed Successfully !!!</h3>
    </div>
        <inframe src="https://giphy.com/embed/ibo1le3mOqHE3PQTtk" width="200" height=" 200" fremaBorder="0"
                 class="giphy-embed" allowFullScreen></inframe>
</div>
</div>
{% endblock main-content %}