{% extends "partials/base.html" %}
{%load static%}
{%block title%} password_reset {%endblock title%}
 
<br>
<br>
<br>
<br>
{% block main-content %}
        <small class="fs-5"></small>
<div class="contain shadow p-5">
    <div class="row my-3">
    <div class="col-sm-6 offset-sm-3">
        <h3 class="heading text-centered">Password Reset</h3>
        <hr>
    
        <form action="" method="post" novalidate class="shadow p-5">
            {% csrf_token %}
            {% for fm in form %}
                {{fm.label_tag}} {{fm}} <small class="text-danger">{{ fm.errors|striptags }}</small>
            {% endfor %}
        <input type="submit" value="submit" class="btn btn-primary"><br>
        
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="alert alert-danger my-3">{{ error }}</p>
        {% endfor %}
        {% endif %}
        
        {% if massages %}
        {% for msg in massages %}
        <div class="alert alert-{{ msg.tags }}" role="alert">
            {{ msg }}
        </div>
        {% endfor %}
        {% endif %}
        </form>
    </div>
    </div>
</div>

{%endblock main-content%}