{% extends "partials/base.html" %}
{%load static%}
{%block title%} Login {%endblock title%}
 
<br>
<br>
<br>
<br>
{% block main-content %}
<div class="container my-5 ">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                {% for prod in product %}
                  <div class="col text-center mb-4 hover-shadow">
                    <a href="{% url 'product-detail' prod.id %}" class="btn">
                        <div>
                          <img src="{{prod.product_image.url}}" width="300px" height="250px" />
                            <div class="fw-bold">{{ prod.title }} </div>
                            <div class="fw-bold text-danger">
                                $.{{ prod.discount_price }}/-
                                <small class="fw-light text-decoration-line-through">{{ prod.selling_price }}</small>
                            </div>
                            
                        </div>
                    </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}